.container-lg {
  margin-top: 20px;
}

.containerCart{
  border-radius: 20px;
}

.product-list {
  width: 60%;
  float: left;
}

.product-list ul {
  list-style: none;
  padding: 0;
}

#productList div{
  width: 50%;
  justify-content: left;
  display: flex;
}

.cartText{
  display: flex;
  justify-content: start;
  padding: 30px 30px 0 30px;
}

#productID {
  border-bottom: 1px solid #ccc;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink:unset;
}

.productIDContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.div4{
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div4Text{
  justify-content: start;
}

.div4 div{
  width: 80%;
}

.div5{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-inline: 20px;
}

.divText{
  justify-content: end;
}

.div5 button{
  margin-inline: 10px;
}

.total{
  display: flex;
  flex-direction: column;
  text-align: end;
  padding: 30px;
  font-size: 20px;
  line-height: 0.7;
}

.totalBtn{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.totalBtn button{
  margin: 10px;
  border-width: 2px;
  font-weight: 500;
}

.icon{
  padding: 5px;
}

.product-details {
  width: 40%;
  float: right;
}

.product-details h2 {
  margin-bottom: 10px;
}

.product-details p {
  margin: 5px 0;
}

.product-details button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-block: 15px;
}

.detalleDiv{
display: flex;
padding: 20px;
gap: 30px;
}

.imgDiv{
width: 300px;
height: 300px;
}

.rowForm{
  justify-content: center;
  row-gap: 40px;
  margin: 20px !important;
}

 /* responsive */
@media (min-width: 768px) {
  .container-lg {
    flex-wrap: nowrap;
  }

  .product-list {
    width: 60%;
    margin-bottom: 0;
  }

  .product-details {
    width: 40%;
  }

}

@media (max-width: 768px) {
  .productIDContainer{
    flex-direction: column;
  }
  #productContainerHeader{
    display: none;
  }
  .div4{
    width: auto;
    justify-content: center;
  }
  .div5{
    margin-inline: 5px;
    margin-bottom: 20px;
  }
  
}

@media (max-width: 1200px) {
  .imgDiv{
    width:auto;
    height: 300px;
    }
}

@media (max-width: 480px) {
  .product-list,
  .product-details {
    width: 100%;
    max-width: none;
  }
  .product-list li{
    flex-direction: column;;
  }
  #productList div{
    justify-content: center;
    width: max-content;
  }
  #productID{
    margin: 0px;
  }
  .col-md-5 input {
    width: 220px;
  }
}

@media (max-width: 992px) {
  p{
    font-size: 14px;
    font-weight: 500;
  }
}

  