.container-lg {
  margin-top: 20px;
}

.containerCart{
  border-radius: 20px;
}

.product-list {
  width: 60%;
  float: left;
}

.product-list ul {
  list-style: none;
  padding: 0;
}

#productList div{
  width: 50%;
  justify-content: left;
  display: flex;
}

.cartText{
  display: flex;
  justify-content: start;
  padding: 30px 30px 0 30px;
}

#productID {
  border-bottom: 1px solid #ccc;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink:unset;
}

.productIDContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.div4{
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div4Text{
  justify-content: start;
}

.div4 div{
  width: 80%;
}

.div5{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-inline: 20px;
}

.divText{
  justify-content: end;
}

.div5 button{
  margin-inline: 10px;
}

.total{
  display: flex;
  flex-direction: column;
  text-align: end;
  padding: 30px;
  font-size: 20px;
  line-height: 0.7;
}

.totalBtn{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.totalBtn button{
  margin: 10px;
  border-width: 2px;
  font-weight: 500;
}

.icon{
  padding: 5px;
}

.product-details {
  width: 40%;
  float: right;
}

.product-details h2 {
  margin-bottom: 10px;
}

.product-details p {
  margin: 5px 0;
}

.product-details button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-block: 15px;
}

.detailBtn{
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.detalleDiv{
display: flex;
padding: 20px;
gap: 30px;
}

.imgDiv{
width: 300px;
height: 300px;
}

  /* cartForm */
.containerForm {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px;
  width: 600px;
}

.form{
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  min-height: 70px;
  max-width: 100%;
}

.label {
  font-size: 24px;
  color: #555;
  display: block;
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  color: black;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #252424;
  font-size: 16px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-bottom: 2px solid #157347;
  outline: none;
}

input[type="text"]:focus + label,
input[type="email"]:focus + label,
input[type="tel"]:focus + label {
  color: #157347;
  transform: translateY(-25px);
  font-size: 14px;
}





 /* responsive */
@media (min-width: 768px) {
  .container-lg {
    flex-wrap: nowrap;
  }
  .product-list {
    width: 60%;
    margin-bottom: 0;
  }
  .product-details {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .productIDContainer{
    flex-direction: column;
  }
  #productContainerHeader{
    display: none;
  }
  #productID{
    margin: 5px;
  }

  .div4{
    width: auto;
    justify-content: center;
    margin-top: 5px;
  }
  .div5{
    margin-inline: 5px;
    margin-bottom: 20px;
  }
  .containerForm {
    width: 400px;
  }
  .detalleDiv{
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .imgDiv{
    width:auto;
    height: 300px;
    }
  }
  
@media (max-width: 992px) {
  p{
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .product-list,
  .product-details {
    width: 100%;
    max-width: none;
  }
  .product-list li{
    flex-direction: column;;
  }
  #productList div{
    justify-content: center;
    width: max-content;
  }
  #productID{
    margin: 0px;
  }
  .col-md-5 input {
    width: 220px;
  }
  .total{
    padding: 20px;
  }
  .containerForm {
    width: 280px;
    padding: 20px;
  }
  .label{
    font-size: 16px;
  }
}



  