.container-lg {
  margin-top: 20px;
}

.containerCart{
  border-radius: 20px;
}

.product-list {
  width: 60%;
  float: left;
}

.product-list ul {
  list-style: none;
  padding: 0;
}

.product-list li {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details {
  width: 40%;
  float: right;
}

.product-details h2 {
  margin-bottom: 10px;
}

.product-details p {
  margin: 5px 0;
}

.product-details button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-block: 15px;
}

/* .btnVolverCarrito{
margin: 20px;
} */

li{
  display: flex;
  justify-content: center;
}

#divLi{
  display: flex;
  flex-direction: column;
}

.detalleDiv{
display: flex;
padding: 20px;
gap: 30px;
}

.imgDiv{
width: 300px;
height: 300px;
}

#productList div{
  width: 50%;
  justify-content: left;
  display: flex;
}

#productID div{
  display: flex;
  justify-content: space-between;
}

.productID-divP{
  display: flex;
  width: 70%;
}

.productID-divBtn button{
  margin-inline: 10px;
}

 /* responsive */
@media (min-width: 768px) {
  .container-lg {
    flex-wrap: nowrap;
  }

  .product-list {
    width: 60%;
    margin-bottom: 0;
  }

  .product-details {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  /* .detalleDiv {
    display: initial;
  } */
  .imgDiv{
    width:auto;
    height: 300px;
    }
}

@media (max-width: 480px) {
  .product-list,
  .product-details {
    width: 100%;
    max-width: none;
  }
  .product-list li{
    flex-direction: column;;
  }
  #productList div{
    justify-content: center;
    width: max-content;
  }
}

@media (max-width: 992px) {
  #productID {
    display: flex;
    flex-direction: column;
  }
  .productID-divP p{
    padding-inline: 10px;
  }
  .productID-divP{
    display: flex;
    width: 100%;
  }
  p{
    font-size: 14px;
    font-weight: 500;
  }
}

  