.logo{
  margin-inline: 20px;
  border-radius: 50%;
  border-color: black;
  border-style: outset;
}

.headerBar{
-webkit-backdrop-filter: blur(50px);
backdrop-filter: blur(100px)
}

@media (max-width: 1400px){
  .headerBar div button{
    background-color: #198754;
  }
  .headerBar div button:hover{
    background-color: #32c480;
  }
  .headerBar div span{
    margin-inline: 20px;
  }
}

/* titulo EZ Market*/
.headerBar div span{
  color: beige;
}
.headerBar div span:hover{
  color: beige;
}

/* titulo menu */
.headerBar div div a{
  color: beige;
  font-size: 20px;
}
.headerBar div div a:hover{
  color: #32c480;
}

#navbarScroll > div > a.nav-link.active{
  color: #32c480 !important;
}

/* icono carrito */
#navbarScroll > form > div{
  color: #198754;
}
#navbarScroll > form > div:hover{
  color: #32c480;
}

/* titulo droplist */
#navbarScrollingDropdown{
  color: beige;
}
#navbarScrollingDropdown:hover{
  color: #32c480;
}

.headerBar div div div div div{
  background-color: #252424;
}
.headerBar div div div div div a:hover{
  background-color: #252424;
}

.headerBar div div form button{
  background-color: #198754;
  color: beige;
}
.headerBar div div form button:hover{
  background-color: #32c480;
}

.hrCustom{
  height: 5px;
  background-color: #f8f9fa !important;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo  {
    animation: logo infinite 5s linear;
  }
}