.containerDetail{
    border-radius: 20px;
}

.divDetailContainer{
    padding: 20px;
}

.rightDown{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pDescripcion{
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    .containerDetail{
      flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .rightDown{
        flex-direction: column;
    }
}