.main{
    border-radius: 30px;
    background-color: #666;
 }

.mainDiv{
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
}

.mainDivText{
    display: flex;
    justify-content: center;
    color:  beige;
    position: relative;
    bottom: -40px;
}

.mainDivText h3{
    text-shadow: 5px 5px 20px #000000; 
}

.mainDivContainer{
    padding: 20px;
    border-radius: 30px;
    background-color: #252424;
    margin-block: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
}

@media screen and (max-width: 768px) {
    div.modal-footer{
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .mainDivContainer{
        padding:0%;
    }
}
