.cart{
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
} 

.sup{
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
}

.headerBar div span {
  color: beige;
  font-size: 12px;
}

.showBadge{
  visibility:visible;
}

.hideBadge{
  visibility: hidden;
}