#root {
  margin: 0 auto;
  padding: 2rem 100px;
  text-align: center;
  background-color: #252424;
}

.mainDiv{
  border-radius: 30px;
  background-color: #666;
}

@media (max-width: 992px) {
  #root{
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  #root{
    padding: 0.2rem;
  }
}