#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem 100px;
  text-align: center;
  background-color: #252424;
}

@media (max-width: 768px) {
  #root{
    padding: 2rem;
  }
}

.mainDiv{
  border-radius: 30px;
  background-color: #666;
}