.divItemCount{
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.left{
    flex-direction: column-reverse;
    align-items: center;
}

.divItemCount button{
    width: 150px;
    margin: 20px;
}

.divItemCountDiv{
    gap: 20px;
}

label{
    margin-inline: 10px;
    text-align: center;
    font-size: 30px;
}



@media screen and (max-width: 768px) {
    .left{
        display: inherit;
    }
    .divItemCountDiv{
        gap: 0px;
    }
    .divItemCount{
        gap: 30px;
    }
  }



