.divItemCount{
    display: flex;
    flex-direction: column;
}

.left{
    display: inherit;
    flex-direction: column-reverse;
    align-items: center;
}

.divItemCount button{
    width: 100px;
    margin: 20px;
}

label{
    margin-inline: 10px;
    text-align: center;
    font-size: 30px;
}







